@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rokkitt", serif;
}

.todo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist {
    width: 30%;
    height: 85%;
    background: #40001F;
    padding: 0.5rem;
    border-radius: 10px;
    overflow: auto;
}


.todolist h1 {
    color: #fff;
    padding: 0.1rem 0 0.5rem 0;
    text-align: center;
    font-size: 45px;
}

.todolist>div {
    background-color: wheat;
    border-radius: 2px;
    margin-bottom: 0.7rem;
    text-align: center;
}

.todolist ul {
    height: 82%;
    overflow: auto;
}

.todolist ul li {
    list-style-type: none;
    padding: 0.27rem 0;
}

.todolist input[type="text"] {
    padding: 0.3rem;
    margin: 0.5rem 0;
    border: none;
    outline: none;
    color: #5C002C;
    width: 75%;
    border-radius: 0.2rem;
    border: 2px solid #5C002C;
    font-size: 18px;
}

.todolist .add-btn {
    padding: 0.4rem 1rem;
    background: #5C002C;
    border: none;
    outline: none;
    margin-left: 0.2rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

::placeholder {
    color: #3c3c3c;
}

.todolist ul .lists {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todolist ul li span {
    color: #fff;
    font-weight: bold;
    padding: 0 0.3rem;
    font-size: 20px;
}

.todolist ul li .remove-btn {
    border: 1px solid #5c002c;
    outline: none;
    background: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: #5c002c;
    font-weight: 600;
    box-shadow: 0px 2px 0px 0px #808080;
    cursor: pointer;
    font-size: 15px;
}


::-webkit-scrollbar {
    width: 0px;
}

.todolist ul li span.completed {
    text-decoration: line-through;
    color: #808080e3;
}

.todolist ul li input[type="checkbox"] {
    cursor: pointer;
}