@media (max-width:599px) {
    .todolist h1 {
        font-size: 35px;
    }

    .todolist .add-btn {
        padding: 0.5rem 0.8rem;
        font-size: 25px;
    }

    .todolist input[type="text"] {
        font-size: 20px;
    }

    .todolist ul li .remove-btn {
        font-size: 20px;
    }

    .todolist {
        width: 95%;
        height: 95%;
    }

    .todolist ul li input[type="checkbox"] {
        width: 25px;
        height: 15px;
    }

    .todolist ul li span {
        font-weight: 600;
        padding: 0 0.5rem;
        font-size: 25px;
    }

    .todolist ul {
        height: 85%;
    }
}


/* @media (min-width:768px) and (max-width:992px) {
    .todolist {
        width: 80%;
    }

    .todolist h1 {
        font-size: 45px;
    }

    .todolist ul {
        height: 85%;
    }
} */